include ../input/index
include ../button/index

form(class='auth-form')
    div(class='auth-form__wrapper')
        div(class='auth-form__inner')
            img(
                class="auth-form__logo"
                src="assets/img/logo.svg"
            )/
            block form
